@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #DCE9F2;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #CBDAE9;
  height: 35px;
  padding: 0 10px;
}

.header {
  position: relative;
}

.header .block {
  background: url("../images/bg.gif");
  height: 222px;
  background-size: 86px;
}

.header_btn {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
}

.header_wrapper a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  z-index: 2;
}

.header_image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 757px;
  background: url(../images/bg.jpg);
  height: 232px;
  background-size: cover;
  background-position: center center;
}

.header_nav {
  position: relative;
  margin-top: -9px;
  max-width: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #90b7d9), color-stop(60%, #161616));
  background: linear-gradient(180deg, #90b7d9 11%, #161616 60%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 0px 45px;
}

.header_nav nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav nav ul a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 10px;
  display: block;
}

.header_nav div span {
  margin-left: 8px;
  color: white;
  position: relative;
  top: -4px;
}

.header_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.header_search img {
  position: relative;
  left: 23px;
}

.header_search input {
  padding-left: 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.header_search button {
  width: 36px;
  border: 0;
  background-size: cover;
  background-image: url(../images/search-submit.gif);
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_content {
  -ms-flex-negative: 2;
      flex-shrink: 2;
  width: 700px;
  background: #AAC3D7;
}

.main_content aside {
  min-height: 175px;
  background: #C9DAEA;
  padding: 10px;
}

.main_content p {
  margin-top: 10px;
  font-size: 15px;
}

.main_content .info {
  margin-top: 20px;
  width: 100%;
  padding: 5px 4px;
  border: 1px solid black;
  background: #E5EAEE;
  color: #666666;
}

.main_content .info a {
  text-decoration: none;
  color: black;
}

.main_aside {
  width: 300px;
  background: url(../images/sidebar-bg.gif);
  background-size: cover;
  background-position-x: -7px;
  padding-bottom: 5px;
}

.main_aside .aside_block {
  padding: 20px 10px;
}

.main_aside .aside_block button {
  display: block;
  padding: 2px 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.main_aside .aside_block h4 {
  font-size: 20px;
  margin-bottom: 2px;
}

.main_aside .aside_block .links {
  padding-left: 50px;
}

.main_aside .aside_block a {
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: #8b8b8b;
}

.main_aside .aside_block a span {
  border-bottom: 1px dashed black;
}

.main_aside .aside_block a::before {
  content: "▶";
  font-size: 8px;
  position: relative;
  left: -5px;
}

.main_aside .aside_block::after {
  content: "";
  position: relative;
  left: -10px;
  top: 20px;
  display: block;
  width: 107%;
  height: 1px;
  background: #bdbdbd;
}

.footer_copyright {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-2%, #78a8ca), color-stop(52%, #161616));
  background: linear-gradient(180deg, #78a8ca -2%, #161616 52%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding: 12px 0px;
  color: white;
  font-size: 14px;
}

.footer_copyright a {
  color: white;
}

.footer_links {
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
  color: #8b8b8b;
}

.footer_links a {
  color: #8b8b8b;
}

@media (max-width: 690px) {
  .header_nav {
    padding-left: 5px;
  }
  .header_nav a {
    margin-right: 5px !important;
  }
  .header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
  }
  .header_btn {
    display: block;
  }
  .header_wrapper {
    display: none;
    padding: 28px 0px 77px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: #666666;
    background: #9e9e9eb3;
    width: 241px;
    z-index: 5;
  }
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_content {
    width: 100%;
  }
}
